# .env.sample - Sample Environment Variables
# Create a database use config/db.sql insert for mysql/mariaDB console
# Create news user for db : CREATE USER 'notefy'@'%' IDENTIFIED BY 'Notefy2026!';
# Give access for user : GRANT ALL PRIVILEGES ON nom_base.* TO 'notefy'@'%';


# Application Configuration
APP_PORT=3310
APP_SECRET=YOUR_APP_SECRET_KEY

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=notefy
DB_PASSWORD=Notefy2026!
DB_NAME=notefy

# Client URL (for CORS configuration)
CLIENT_URL=http://localhost:3000

# About specific needs, please ask your trainer about the deploiement project name and follow the pattern
# You can add as much variable as needed. Don't forget to tell your trainer about it. Otherwise, it could break on deploiement
PROJECT_NAME_SPECIFIC_NAME=Notefy
